# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [2]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [3]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [6]:
# Count by hand. (lol kidding)
# Total number of rows
print(len(df_food))
# Count of non-null values in each column
print(df_food.count())

125
GPA                 123
Gender              125
breakfast           125
calories_chicken    125
calories_day        106
                   ...
type_sports          99
veggies_day         125
vitamins            125
waffle_calories     125
weight              123
Length: 61, dtype: int64

What are the columns and their types in this data set?

In [9]:
# Show the column names and their types.

# Display column names and their data types
print(df_food.dtypes)

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [10]:
# Remove ‚Äòem.
df_filtered =  df_food[['Gender', 'calories_day', 'weight']]
df_filtered

     Gender  calories_day                    weight
0         2           NaN                       187
1         1           3.0                       155
2         1           4.0  I'm not answering this.
3         1           3.0             Not sure, 240
4         1           2.0                       190
..      ...           ...                       ...
120       1           4.0                       156
121       1           2.0                       180
122       1           NaN                       120
123       2           4.0                       135
124       1           NaN                       135

[125 rows x 3 columns]

What about `NaN`s? How many are there?

In [14]:
# Count ‚Äòem.

print(df_filtered.isna().sum())
Total_nans= df_filtered.isna().sum().sum()
print(Total_nans)

Gender           0
calories_day    19
weight           2
dtype: int64
21

We gotta remove those `NaN`s‚Äïthe entire row.

In [15]:
# Drop ‚Äòem.

print(df_filtered.dropna())

     Gender  calories_day                    weight
1         1           3.0                       155
2         1           4.0  I'm not answering this.
3         1           3.0             Not sure, 240
4         1           2.0                       190
5         1           3.0                       190
..      ...           ...                       ...
118       1           3.0                       140
119       2           3.0                       185
120       1           4.0                       156
121       1           2.0                       180
123       2           4.0                       135

[104 rows x 3 columns]

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [18]:
# Fix that.
df_filtered['weight'] = pd.to_numeric(df_filtered['weight'], errors='coerce' )
df_filtered['calories_day'] = pd.to_numeric(df_filtered['calories_day'], errors='coerce' )
df_filtered= df_filtered.dropna()
print(df_filtered)

     Gender  calories_day  weight
1         1           3.0   155.0
4         1           2.0   190.0
5         1           3.0   190.0
6         2           3.0   180.0
7         1           3.0   137.0
..      ...           ...     ...
118       1           3.0   140.0
119       2           3.0   185.0
120       1           4.0   156.0
121       1           2.0   180.0
123       2           4.0   135.0

[101 rows x 3 columns]

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [19]:
# Savey save!
df_filtered.to_csv('data/clean_food_coded.csv', index='False')

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [35]:
import pandas as pd

# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable
df_salary = pd.read_csv('/Users/PC/Desktop/my-fork-2024-DS-Fri-1230/Week-02-DS-Overview-and-Data/data/manager_salary_2021.tsv', sep='\t')

# Print the DataFrame
print(df_salary)

                Timestamp How old are you?  What industry do you work in?  \
0      4/27/2021 11:02:10            25-34   Education (Higher Education)
1      4/27/2021 11:02:22            25-34              Computing or Tech
2      4/27/2021 11:02:38            25-34  Accounting, Banking & Finance
3      4/27/2021 11:02:41            25-34                     Nonprofits
4      4/27/2021 11:02:42            25-34  Accounting, Banking & Finance
...                   ...              ...                            ...
28057  7/12/2024 22:52:01            35-44                    Health care
28058  7/23/2024 17:51:03            25-34              Computing or Tech
28059  7/24/2024 12:22:58            18-24  Accounting, Banking & Finance
28060  7/26/2024 11:20:45            18-24              Computing or Tech
28061   8/20/2024 1:06:13            25-34                    Health care

                                      Job title  \
0            Research and Instruction Librarian
1      Change & Internal Communications Manager
2                          Marketing Specialist
3                               Program Manager
4                            Accounting Manager
...                                         ...
28057                              Veterinarian
28058                         Systems Architect
28059                 Risk Management Associate
28060                                        IT
28061                    Clinical physiologist

      If your job title needs additional context, please clarify here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                NaN
28060                                                NaN
28061                                                NaN

      What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  \
0                                                 55,000
1                                                 54,600
2                                                 34,000
3                                                 62,000
4                                                 60,000
...                                                  ...
28057                                             135000
28058                                             109000
28059                                               1200
28060                                               1700
28061                                            1200000

       How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.  \
0                                                    0.0
1                                                 4000.0
2                                                    NaN
3                                                 3000.0
4                                                 7000.0
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                0.0
28060                                               10.0
28061                                                NaN

      Please indicate the currency  \
0                              USD
1                              GBP
2                              USD
3                              USD
4                              USD
...                            ...
28057                          USD
28058                          USD
28059                          USD
28060                          USD
28061                        Other

      If "Other," please indicate the currency here:   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
...                                               ...
28057                                             NaN
28058                                             NaN
28059                                             NaN
28060                                             NaN
28061                                             NGN

      If your income needs additional context, please provide it here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                NaN
28060                                                NaN
28061                                                NaN

      What country do you work in?  \
0                    United States
1                   United Kingdom
2                               US
3                              USA
4                               US
...                            ...
28057               United States
28058                          USA
28059                      Myanmar
28060                        Burma
28061                     Nigeria

      If you're in the U.S., what state do you work in?  \
0                                         Massachusetts
1                                                   NaN
2                                             Tennessee
3                                             Wisconsin
4                                        South Carolina
...                                                 ...
28057                                          Missouri
28058                                           Georgia
28059                                          Colorado
28060                                               NaN
28061                                               NaN

      What city do you work in?  \
0                        Boston
1                     Cambridge
2                   Chattanooga
3                     Milwaukee
4                    Greenville
...                         ...
28057               Wentzville
28058                   Atlanta
28059                    Yangon
28060                    Yangon
28061                     Lagos

      How many years of professional work experience do you have overall?  \
0                                              5-7 years
1                                           8 - 10 years
2                                            2 - 4 years
3                                           8 - 10 years
4                                           8 - 10 years
...                                                  ...
28057                                      11 - 20 years
28058                                          5-7 years
28059                                        2 - 4 years
28060                                        2 - 4 years
28061                                        2 - 4 years

      How many years of professional work experience do you have in your field?  \
0                                              5-7 years
1                                              5-7 years
2                                            2 - 4 years
3                                              5-7 years
4                                              5-7 years
...                                                  ...
28057                                      11 - 20 years
28058                                          5-7 years
28059                                        2 - 4 years
28060                                     1 year or less
28061                                        2 - 4 years

      What is your highest level of education completed? What is your gender?  \
0                                        Master's degree                Woman
1                                         College degree           Non-binary
2                                         College degree                Woman
3                                         College degree                Woman
4                                         College degree                Woman
...                                                  ...                  ...
28057                 Professional degree (MD, JD, etc.)                Woman
28058                                     College degree                  Man
28059                                       Some college                  Man
28060                                       Some college                  Man
28061                                     College degree                Woman

      What is your race? (Choose all that apply.)
0                                           White
1                                           White
2                                           White
3                                           White
4                                           White
...                                           ...
28057                                       White
28058                                       White
28059                     Asian or Asian American
28060                     Asian or Asian American
28061                   Black or African American

[28062 rows x 18 columns]

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [36]:
# Count by hand. I‚Äôm dead serious.
print(len(df_salary))
print(df_salary.shape)
print(df_salary.size)

28062
(28062, 18)
505116

What are the columns and their types?

In [37]:
# Show the column names and their types.

print(df_salary.dtypes)

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [38]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race


new_named_columns = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 
                     'additional_compensation', 'currency', 'other_currency', 'salary_context', 
                     'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed',
                    'gender', 'race']

df_salary.columns = new_named_columns
df_salary

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,United States,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,Myanmar,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American
28061,8/20/2024 1:06:13,25-34,Health care,Clinical physiologist,NaN,1200000,NaN,Other,NGN,NaN,Nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [39]:
# List the unique industries and a count of their instances.

df_salary.industry.value_counts()

industry
Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [41]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

df_salary_tech = df_salary[df_salary['industry'] == 'Computing or Tech']

df_salary_tech

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28050,7/1/2024 13:38:46,25-34,Computing or Tech,Research & Systems Technician Data Analytics,NaN,22000,NaN,EUR,NaN,NaN,Spain,NaN,Barcelona,2 - 4 years,2 - 4 years,College degree,Man,"Hispanic, Latino, or Spanish origin"
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,Usa,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [42]:
# Sanity Check 
df_salary_tech['industry'].value_counts()

industry
Computing or Tech    4699
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [43]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech_usd = df_salary_tech[df_salary_tech['currency'] == 'USD']

df_salary_tech_usd.head()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [44]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

df_salary_tech_usd['country'].value_counts()

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Pakistan                       1
Puerto Rico                    1
America                        1
Uniyed states                  1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [49]:
# Replace them all with 'US'.
df_salary_tech.loc[:, 'country'] = df_salary_tech['country'].replace(['United States', 'USA', 'U.S.', 'United States of America'], 'US')
df_salary_tech

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,US,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",US,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28050,7/1/2024 13:38:46,25-34,Computing or Tech,Research & Systems Technician Data Analytics,NaN,22000,NaN,EUR,NaN,NaN,Spain,NaN,Barcelona,2 - 4 years,2 - 4 years,College degree,Man,"Hispanic, Latino, or Spanish origin"
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,Usa,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

Have a look at the count of each unique country again now.

In [47]:
# Count again.
df_salary_tech.country.value_counts()

country
US                3409
Canada             227
United Kingdom     145
UK                 112
Germany             69
                  ...
International        1
England, UK          1
Slovakia             1
Nederland            1
Burma                1
Name: count, Length: 141, dtype: int64

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [57]:
# Ensure 'salary' is numeric by removing unwanted characters and converting to numeric
df_salary_tech.loc[:, 'salary'] = df_salary_tech['salary'].replace({'$': '', ',': ''}, regex=True)
df_salary_tech.loc[:, 'salary'] = pd.to_numeric(df_salary_tech['salary'], errors='coerce')

# Drop rows where 'salary' is NaN
df_salary_tech_clean = df_salary_tech.dropna(subset=['salary'])

/var/folders/qj/sl8rqz315l95cnfkmls8q1j40000gn/T/ipykernel_26843/2317001006.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_salary_tech.loc[:, 'salary'] = df_salary_tech['salary'].replace({'$': '', ',': ''}, regex=True)

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [58]:
# Fix it.
# Group by 'state' and calculate min, mean, and max salary
salary_stats = df_salary_tech_clean.groupby('state')['salary'].agg(['min', 'mean', 'max']).reset_index()

# Rename columns
salary_stats.columns = ['state', 'min_salary', 'mean_salary', 'max_salary']

# Sort by mean salary in descending order
salary_stats_sorted = salary_stats.sort_values(by='mean_salary', ascending=False)

print(salary_stats_sorted)

                          state min_salary    mean_salary max_salary
35  Michigan, Texas, Washington     340000       340000.0     340000
10           California, Oregon     200000       200000.0     200000
8          California, Colorado     176000       176000.0     176000
18       Georgia, Massachusetts     175000       175000.0     175000
16                      Florida      28800  157457.232143    2600000
..                          ...        ...            ...        ...
26                    Louisiana      35360   83269.090909     150000
32  Massachusetts, Pennsylvania      83000        83000.0      83000
9          California, Maryland      81500        81500.0      81500
6                      Arkansas          4        74257.0     144000
2              Alabama, Montana      72000        72000.0      72000

[66 rows x 4 columns]

Let‚Äôs try that again.

In [59]:
# Try it again. Yeah!
# Group by 'state' and calculate min, mean, and max salary
salary_stats = df_salary_tech_clean.groupby('state')['salary'].agg(['min', 'mean', 'max']).reset_index()

# Rename columns
salary_stats.columns = ['state', 'min_salary', 'mean_salary', 'max_salary']

# Sort by mean salary in descending order
salary_stats_sorted = salary_stats.sort_values(by='mean_salary', ascending=False)

print(salary_stats_sorted)

                          state min_salary    mean_salary max_salary
35  Michigan, Texas, Washington     340000       340000.0     340000
10           California, Oregon     200000       200000.0     200000
8          California, Colorado     176000       176000.0     176000
18       Georgia, Massachusetts     175000       175000.0     175000
16                      Florida      28800  157457.232143    2600000
..                          ...        ...            ...        ...
26                    Louisiana      35360   83269.090909     150000
32  Massachusetts, Pennsylvania      83000        83000.0      83000
9          California, Maryland      81500        81500.0      81500
6                      Arkansas          4        74257.0     144000
2              Alabama, Montana      72000        72000.0      72000

[66 rows x 4 columns]

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [63]:
# Convert the 'timestamp' column to a datetime type
df_salary_tech.loc[:, 'timestamp'] = pd.to_datetime(df_salary_tech['timestamp'], errors='coerce')

# Drop rows where 'timestamp' could not be converted
df_salary_tech_clean = df_salary_tech.dropna(subset=['timestamp'])

# Filter data for the years 2021, 2022, or 2023
df_salary_tech_filtered = df_salary_tech_clean[df_salary_tech_clean['timestamp'].dt.year.isin([2021, 2022, 2023])]

# Ensure 'salary' is numeric by removing unwanted characters and converting to numeric
df_salary_tech_filtered.loc[:, 'salary'] = df_salary_tech_filtered['salary'].replace({'$': '', ',': ''}, regex=True)
df_salary_tech_filtered.loc[:, 'salary'] = pd.to_numeric(df_salary_tech_filtered['salary'], errors='coerce')

# Drop rows where 'salary' is NaN
df_salary_tech_filtered = df_salary_tech_filtered.dropna(subset=['salary'])

# Group by 'state' and calculate min, mean, and max salary
salary_stats = df_salary_tech_filtered.groupby('state')['salary'].agg(['min', 'mean', 'max']).reset_index()

# Rename columns
salary_stats.columns = ['state', 'min_salary', 'mean_salary', 'max_salary']

# Sort by mean salary in descending order
salary_stats_sorted = salary_stats.sort_values(by='mean_salary', ascending=False)

print(salary_stats_sorted)

                            state min_salary   mean_salary max_salary
35    Michigan, Texas, Washington     340000      340000.0     340000
10             California, Oregon     200000      200000.0     200000
8            California, Colorado     176000      176000.0     176000
18         Georgia, Massachusetts     175000      175000.0     175000
1   Alabama, District of Columbia     156000      156000.0     156000
..                            ...        ...           ...        ...
26                      Louisiana      35360  83269.090909     150000
32    Massachusetts, Pennsylvania      83000       83000.0      83000
6                        Arkansas      55000       81682.3     144000
9            California, Maryland      81500       81500.0      81500
2                Alabama, Montana      72000       72000.0      72000

[66 rows x 4 columns]

/var/folders/qj/sl8rqz315l95cnfkmls8q1j40000gn/T/ipykernel_26843/1507615998.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_salary_tech_filtered.loc[:, 'salary'] = df_salary_tech_filtered['salary'].replace({'$': '', ',': ''}, regex=True)

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)