# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print('Goergios is a Muay Thai Champion')

Goergios is a Muay Thai Champion

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [7]:
# Load data here
df = pd.read_csv('data/listings.csv')
print(df.head())

     id                                               name  host_id  \
0  2595                              Skylit Midtown Castle     2845
1  3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2  5121                                    BlissArtsSpace!     7356
3  5136           Spacious Brooklyn Duplex, Patio + Garden     7378
4  5178                   Large Furnished Room Near B'way　     8967

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0     Jennifer           Manhattan             Midtown  40.75362  -73.98377
1  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
2        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
3      Rebecca            Brooklyn         Sunset Park  40.66120  -73.99423
4     Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493

         room_type  price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt    175               3                 48  2019-11-04
1  Entire home/apt     75               1                340  2020-08-01
2     Private room     60              29                 50  2019-12-02
3  Entire home/apt    175              14                  1  2014-01-02
4     Private room     65               2                473  2020-03-15

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.37                               2               365
1               4.75                               1               265
2               0.37                               1               365
3               0.01                               1               295
4               3.44                               1               340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [8]:
# 1. How many listings are there with a price less than 100? 
# Finding the number of listings with a price less than 100
listings_below_100 = df[df['price'] < 100]

# Getting the count of such listings
count = len(listings_below_100)

print(f" The number of listings with price less than 100: {count}")

Number of listings with price less than 100: 22778

In [13]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk= df[df['neighbourhood_group'] == 'Brooklyn']

count_df_bk= len(df_bk)

print(f" The number of listings in just Brooklyn: {count_df_bk}")

 The number of listings in just Brooklyn: 18632

In [14]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

df_bk_below_100 = df_bk[df_bk['price']<100]

count_df_bk_below_100= len(df_bk_below_100)

print(f" The number of listings there are in Brooklyn with a price less than 100: {count_df_bk_below_100}")
print(df_bk.head())

 The number of listings there are in Brooklyn with a price less than 100: 10473
      id                                               name  host_id  \
1   3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2   5121                                    BlissArtsSpace!     7356
3   5136           Spacious Brooklyn Duplex, Patio + Garden     7378
8   5803     Lovely Room 1, Garden, Best Area, Legal rental     9744
11  6848                   Only 2 stops to Manhattan studio    15991

        host_name neighbourhood_group       neighbourhood  latitude  \
1     LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2           Garon            Brooklyn  Bedford-Stuyvesant  40.68688
3         Rebecca            Brooklyn         Sunset Park  40.66120
8          Laurie            Brooklyn         South Slope  40.66829
11  Allen & Irina            Brooklyn        Williamsburg  40.70837

    longitude        room_type  price  minimum_nights  number_of_reviews  \
1   -73.95976  Entire home/apt     75               1                340
2   -73.95596     Private room     60              29                 50
3   -73.99423  Entire home/apt    175              14                  1
8   -73.98779     Private room     88               4                180
11  -73.95352  Entire home/apt    109               2                181

   last_review  reviews_per_month  calculated_host_listings_count  \
1   2020-08-01               4.75                               1
2   2019-12-02               0.37                               1
3   2014-01-02               0.01                               1
8   2020-03-18               1.31                               3
11  2020-03-16               1.32                               1

    availability_365
1                265
2                365
3                295
8                344
11                 0

In [18]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
filter_names= ['Michael', 'David', 'John', 'Daniel']

Total= len(df[df['host_name'].isin(filter_names)])
print(f"Number of listings with host names Michael, David, John, or Daniel: {Total}")

Number of listings with host names Michael, David, John, or Daniel: 1258

In [22]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df['adjusted_price'] = df['price']  


df.loc[df['neighbourhood'] == 'Williamsburg', 'adjusted_price'] += 100

print(df[df['neighbourhood'] == 'Williamsburg'][['price', 'adjusted_price']].head())

print(df.head())

    price  adjusted_price
11    109             209
15    299             399
35    131             231
38    175             275
42     80             180
     id                                               name  host_id  \
0  2595                              Skylit Midtown Castle     2845
1  3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2  5121                                    BlissArtsSpace!     7356
3  5136           Spacious Brooklyn Duplex, Patio + Garden     7378
4  5178                   Large Furnished Room Near B'way　     8967

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0     Jennifer           Manhattan             Midtown  40.75362  -73.98377
1  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
2        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
3      Rebecca            Brooklyn         Sunset Park  40.66120  -73.99423
4     Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493

         room_type  price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt    175               3                 48  2019-11-04
1  Entire home/apt     75               1                340  2020-08-01
2     Private room     60              29                 50  2019-12-02
3  Entire home/apt    175              14                  1  2014-01-02
4     Private room     65               2                473  2020-03-15

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.37                               2               365
1               4.75                               1               265
2               0.37                               1               365
3               0.01                               1               295
4               3.44                               1               340

   adjusted_price
0             175
1              75
2              60
3             175
4              65

In [39]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
private = df['room_type'] == 'Private room'
shared = df['room_type'] == 'Shared room'

print(f'% of Private: {len(df[private]) / len(df) * 100} ')
print(f'% of Shared: {len(df[shared]) / len(df) * 100} ')

% of Private: 45.444580566122895 %
% of Shared: 2.12134889419047 %

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [26]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
neighbourhood_group = df.groupby('neighbourhood_group')
neighbourhood_group.size()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [27]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
neighbourhood_group['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [31]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
room_type= df.groupby('room_type')['price']
room_type.mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [36]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [37]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

df.groupby(['neighbourhood_group', 'room_type'])['price'].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [38]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

df.groupby(['neighbourhood_group', 'room_type'])['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std'])

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [49]:
# 1. Load the `prices.csv` and the `n_listings.csv`

df_prices = pd.read_csv('data/prices.csv')
df_n_listings = pd.read_csv('data/n_listings.csv')


print(df_prices.head())


print(df_n_listings.head())

  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214
  neighbourhood_group;n_listings
0                     Bronx;1183
1                 Brooklyn;18632
2                Manhattan;20580
3                LongIsland;4121

In [51]:
# 2. Do join that keeps all the records for each table.
# Perform the outer join
df_joined = pd.merge(df_prices, df_n_listings, how='outer', on='neighbourhood_group')

# Display the result
print(df_joined.head())

KeyError: 'neighbourhood_group'

In [ ]:
# 3. Save your joined csv as `joined.csv` into the data folder.

In [ ]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.